*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.7;
    color: #777777;
}
header {
    background-image: linear-gradient(to right bottom, rgba(142, 158, 252, .8),rgba(28, 62, 255, .8)),
    url('../img/background1.jpg');
    background-size: cover;   
    background-position: top;
    position: relative;
    height: 95vh;
    clip-path: ellipse(60% 60% at 50% 33%);
}
.logo{
    height: 70px;
}
.logo_box{
    position: absolute;
    top: 30px;
    left: 30px;
    
}
.text_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading_primary{
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 60px;
    animation: animationtest 2s;
}
.heading_primary_main{
    display: block;
    font-size: 62px;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 1s ease-out;
}
.heading_primary_sub{
    display: block;
    font-size: 20px;
    font-weight: 700px;
    letter-spacing: 18px;
    animation: moveInRight 1s ease-out;
}
.btn,
.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    background: white;
    padding: 15px 30px;
    border-radius: 100px;  
    font-size: 16px;
    transition: all 0.2s;
}
.btn-white{
    color: #777777;
    background-color: white;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px rgba(0,0,0,.3);
}
.btn:active{
    transform: translateY(-1);
    box-shadow: 0px 5px 10px rgba(0,0,0, .2)
}
.btn::after{
    content: "";
    display:inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    background-color: #fff;
    z-index: -1;
    transition: all .4s;
    opacity: 0.4;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    
}

.btn-animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}