html{
    font-size: 10px;
}
@media screen and (max-width: 992px) {
    html{
        font-size: 7px;
    }
}

@media screen and (max-width: 600px) {
    html{
        font-size: 5px;
    }
}
body{
    box-sizing: border-box;
}
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: inherit;
}